/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

 @keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* The whole bar */
#window {
    background-color: rgba(30, 30, 47, 0.85); /* Catppuccin Macchiato Base */
    border-radius: 12px;
    color: #cad3f5; /* Catppuccin Macchiato Text */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #494d64; /* Catppuccin Macchiato Surface1 */
}

/* All modules */
#workspaces,
#clock,
#tray,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#custom-power,
#custom-updates,
#window {
    padding: 2px 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #8087a2; /* Catppuccin Macchiato Overlay0 */
    border-radius: 8px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    color: #8aadf4; /* Catppuccin Macchiato Blue */
    background-color: #363a4f; /* Catppuccin Macchiato Surface0 */
}

#workspaces button.urgent {
    color: #ed8796; /* Catppuccin Macchiato Red */
}

#window {
    color: #a5adcb; /* Catppuccin Macchiato Subtext0 */
}

#clock {
    color: #8aadf4; /* Catppuccin Macchiato Blue */
}

#tray {
    background-color: #363a4f;
    border-radius: 8px;
    margin: 5px 0px;
}

#custom-updates {
    color: #f5a97f; /* Catppuccin Macchiato Peach */
}

#pulseaudio {
    color: #ed8796; /* Catppuccin Macchiato Red */
}
#pulseaudio.muted {
    color: #6e738d; /* Catppuccin Macchiato Overlay0 */
}

#network {
    color: #a6da95; /* Catppuccin Macchiato Green */
}

#network.disconnected {
    color: #ed8796; /* Catppuccin Macchiato Red */
}

#cpu {
    color: #eed49f; /* Catppuccin Macchiato Yellow */
}

#memory {
    color: #c6a0f6; /* Catppuccin Macchiato Mauve */
}

#battery {
    color: #8bd5ca; /* Catppuccin Macchiato Teal */
}

#battery.charging, #battery.plugged {
    color: #a6da95; /* Catppuccin Macchiato Green */
}

#battery.critical:not(.charging) {
    color: #ed8796; /* Catppuccin Macchiato Red */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    color: #ed8796; /* Catppuccin Macchiato Red */
    background-color: #363a4f; /* Catppuccin Macchiato Surface0 */
    border-radius: 8px;
    margin: 5px 5px 5px 0px;
}